[project]
name = "microservice-analytics"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.121.1",
    "scalar-fastapi>=1.4.3",
    "uvicorn>=0.38.0",
]
